.visit-card{
    background-color: blue;
}
.card_text{
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: antiquewhite;
    
}

.subscriber{
    text-align: left; 
    padding: 7px 0px;
     background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125); 
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}


/* post create css================================== */
input, textarea{
    border: none;
}
input, textarea :hover{
    border: none;
}
.post_creation_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.create_post{
    width: 800px;
    background-color: rgb(206, 221, 206) ;
    border-radius: 4px;
    box-shadow: 3px 3px 5px lightblue;
    padding: 20px;
    margin: 40px 0;
}
.create_post > h1{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: black;
    text-transform: capitalize;
    font-weight:500;
    margin-top: 10px;
}
.post_title{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.post_title > label, .post_text > label, .thamnale_box  label, .category_box label, .sub_category_box label{
    color: rgba(0, 0, 0, 0.5);
    display: block;
    padding-bottom: 5px;
    margin-left: 3px;
}
#title_area{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.post_text{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.post_text > label{

}
#post_text_area{
    width: 100%;
}
.thamnale_box{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#thamnale{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#thamnale_des{
    width: 100%;
    height: 30px;
}
.category_box{
    margin-top: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 50%;
    display: flex;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
}
#categorys{
    width: 50%;
    margin-left: 10px;
    border: none;
}
.sub_category_box{
    margin-top: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 50%;
    display: flex;
    float: left;
    padding-bottom: 5px;
    padding-left: 10px;
}
#sub_categorys{
    width: 50%;
    margin-left: 10px;
    border: none;
}
.post_btn{
    font-size: 13px;
    padding: 5px 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
}



/* modaretors info ==============================================*/
.info_btn{
    border: 1px solid lightcoral;
}




/* category css ==============================================*/

.thead-dark{
    background-color: black;
}
